.oscilador-interno {
    top: 32px;
    left: 11%; 
}
.oscilador-interno:active {
    top: 34px;
}

.oscilador-externo {
    top: 95px;
    left: 70px; 
}
.oscilador-externo:active {
    top: 97px;
}




.button-mc{
    cursor: pointer;
    background-color: green;
    position: absolute;
    box-shadow:0 5px 0 #003f00;
    text-transform: uppercase;
    border: none;
    font-size: small;
    cursor: pointer;
    padding: 1px;
    color: rgb(255, 255, 255);
}

.button-mc:hover {
    background:#006000;

}

.button-mc:active{
    box-shadow:none;
}



